@use "src/index";

.header {
    width: 100%;
    padding: 16px 0;
    z-index: 999;

    position: fixed;

    background-color: rgba(255, 255, 255, 0.96);
    backdrop-filter: blur(2px);

    .headerContent {

        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 1080px) {
            justify-content: center;
        }

        .menuButton {
            display: none;
            position: absolute;
            left: 10px;
            padding: 10px;
            justify-content: center;
            align-items: center;

            @media (max-width: 1080px) {
                display: flex;
            }
        }



        .mini-profile {
            @media (max-width: 1080px) {
                display: none;
            }
        }
    }
}