// COLORS
$base-color: #708EF8;
$common-black: #101913;
$common-grey: #535A56;
$shadow: 0 1px 2px 0 #00000029;



b {
  font-weight: bold;
}

* {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  font-weight: normal;
  font-size: 15px;
  box-sizing: border-box;

  @media (max-width: 500px) {
    font-size: 14px;
  }
}

body {
  overflow-x: hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding-top: 80px;
}

a {
  text-decoration: none;
  color: $common-grey;
  opacity: .9;
}

:hover {
  opacity: 1;
}

p {
  color: $common-grey;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 32px;

  @media (max-width: 800px) {
    font-size: 27px;
  }
}

h2 {
  font-size: 24px;

  @media (max-width: 800px) {
    font-size: 20px;
  }
}

h3 {
  font-size: 20px;
}

.wrapper {
  max-width: 1250px;
  width: 100%;
  padding: 0 50px;
  margin: 0 auto;

  @media (max-width: 1080px) {
    padding: 0 10px;
  }
}


svg {
  color: $base-color;
}



@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap')