@use "/src/index.scss";

.navigation {
    margin: 0 20px;
    display: flex;
    gap: 40px;

    @media (max-width: 1080px) {
        display: none;
    }

    .link {
        position: relative;
        color: index.$common-grey;
        white-space: nowrap;

        &:hover {
            color: index.$common-black;
        }

        &.active {
            color: index.$common-black;
            opacity: 1;
        }

        &.active::after {
            content: "";
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: index.$base-color;
        }
    }

}